.card{
    border: none;
    width: 500px;
    margin-top: 1px;
    margin-left: 180px;
    padding: 40px;
    position: absolute;
    transform: translate(50% ,15%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg,hsla(205, 46%, 30%, 1),hsla(260,29%,36%,1) 100%);
}
.hu{
    text-align: center;
    color: white;
}

.card h1,h6{
    color: white;
}

label{
    color: white;

}