
<div class="welcome">
    <h1><br>Welcome Admin!</h1>
    <div class="buttons">
      <div>
      <button class="add-button" routerLink="/adminAddFlight">Add Flight</button>
    
      <button class="schedule-button" routerLink="/flightSchedule">Schedule Flight</button>
      </div>
      <div>
        <button class="search-button" routerLink="/adminSearchFlight">Search Flight</button>
     
      
      <button class="searchschedule-button" routerLink="/searchSch">Search Schedule Flight</button>
    </div>
    <div>
    
      <button class="viewschedule-button" routerLink="/">View Schedule Flight</button>
      <button class="cancle-button" routerLink="/adminDeleteFlight">Delete Flight</button>
    </div>
    <div >
      
      <button class="delete-sch-button" routerLink="/adminSchDeleteFlight">Delete Schedule Flight</button>
      <button class="update-flight-button" routerLink="/adminUpdFlight">Update Flight</button>
    </div>
   
    <button class="update-schflight-button" routerLink="/adminUpdSchFlight">Update Schedule Flight</button>
    </div>
  </div>